<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js"></script>
<script src="../js/recorder.js"></script>


<script>
$(document).ready(function(){
  var script1 = "<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin= 'anonymous'>";
  var script2 = "<sc" + "ript src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></s" +"cript>";
  var script3 = "<sc" + "ript src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></sc" + "ript>";
  var script4 = "<sc" + "ript src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></s" +"cript>";
  var navbar = "";
  var body = "";
  var footer = "";
  var curr = navbar + body + footer;
  if (!curr){
    $("#newPage").attr('srcdoc', script1 + script2 + script3 + script4 + "<div><h1>Wassup</h1</div>");
  } else {
    $("#newPage").attr('srcdoc', script1 + script2 + script3 + script4 + curr);
  }


});

</script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">Protospeech</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
</div>
</nav>

<br>

<div class="container">
  <div class = "row">
    <div class="col-md-9">
      <iframe id = "newPage" style="width: 100%; height: 800px; border:1;" srcdoc=""></iframe>
    </div>
    <div class="col-md-3">
      <h2>Record</h2>
      <p>Convert recorded audio to:<br>
      	<select style="display: none" id="encodingTypeSelect">
      	  <option value="mp3" selected>MP3 (MPEG-1 Audio Layer III) (.mp3)</option>
      	</select>
      	</p>
      	<div id="controls">
          <button onclick="startRecording()">Start Recording</button>
          <button onclick="stopRecording()">Stop Recording</button>
      	</div>
      	<div id="formats"></div>
      	<h3>Log</h3>
      	<pre id="log"></pre>

      	<h3>Recordings</h3>
      	<ol id="recordingsList"></ol>
    </div>
  </div>
</div>
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/Two-to-the-Two">Two to the Two</a>
  </div>
  <!-- Copyright -->

</footer>


  	<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
